div.lefty {
  text-align: left;
  color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  padding-left: 25px;
  margin: 1;
}

#answer1, #answer2, #answer3, #answer4, #answer5 {
  text-align: center;
  padding-left: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-color: orange;
}
