.header {
  background-color: skyblue;
  height: 100px; 
  width: 80%;
  padding: 30px;
  border-radius: 0px;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  height: 120vh;
  background-image: url('skybox.png');
  background-size: cover; 
  background-position: center center; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

.content {
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 0px;
  border-radius: 0px;
  width: 80%;  
  max-width: 1400px;
  text-align: center;
  padding-top: 0px;
  flex-grow: 1;
}

.tabs {
  background-color: #666699; 
  padding: 0px; 
  text-align: center;
}

.tabbut {
  background-color: #666699;
  border: none;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin: 1px;
  cursor: pointer;
  color: white;
}

.tabbut:hover {
  background-color: #9999ff;
}

h1 {
  text-align: center;
  color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 1;
}

p {
  font-size: 2;
}

.vocab {
  text-align: left;
  font-family: "Lucida Console", "Courier New", monospace;
  padding-left: 25px;
}
.footer {
  border: 1px solid black;
  text-align: center;
  margin: 10px;
  background-color: #F0FFFF;
  padding: 10px 0;
}

.table table, .table th, .table td {
  margin-left: auto;
  margin-right: auto;
  width:60%;
  border:1px solid black;
}
