body {
  background-color: powderblue;
}

h1 {
  color: blue;
  font-family: "Lucida Console", "Courier New", monospace;
}

h2 {
  color: blue;
  font-family: "Lucida Console", "Courier New", monospace;
}

p {
  color: black;
  font-family: "Lucida Console", "Courier New", monospace;
}

a:link {
  color: black;
}

a:visited {
  color: purple;
}

a:hover {
  color: orange;
}

a:active {
  color: yellow;
}

.item1 { grid-area: header; }
.item2 { grid-area: tab1; }
.item3 { grid-area: tab2; }
.item4 { grid-area: tab3; }
.item5 { grid-area: tab4; }
.item6 { grid-area: tab5; }
.item7 { grid-area: content; }
.item8 { grid-area: vocab; }

.container {
  display: grid;
  grid-template-areas: 
    "header header header header header"
    "tab1 tab2 tab3 tab4 tab5"
    "content content content content content"
    "vocab vocab vocab vocab vocab";
  grid-template-columns: repeat(5, 1fr);
  font-family: "Lucida Console", "Courier New", monospace;
  grid-gap: 3px;
  background-color: black;
  padding: 8px;
}

.container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

.container > div.vocab {
  text-align: left
  font-family: "Lucida Console", "Courier New", monospace;
}
}

.footer {
  border: 1px solid black;
  text-align: center;
  margin: 10px;
  background-color: #F0FFFF;
}
